/* Geral */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* header {
  width: 100%;
  height: 80px;
  background-color: #7159c1;
  transition: all 0.2s ease 0s;
} */

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.53em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  margin: 0;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b {
  font-weight: 600;
}

/* ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

                        /* Início do CSS da Página Inicial */

/* Menu de Navegação */

.horizontal-navbar {
  max-width: 1070px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header.principals-pages {
  width: 100%;
height: 80px;
background-color: #7159c1;
transition: all 0.2s ease 0s;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-header {
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
  border-right: 1px solid #FFFFFF22;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li:first-child {
  margin: 0;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 0 30px;
}

nav ul li a {
  color: #af9ee6;
  position: relative;
  text-decoration: none;
  transition: all 150ms linear 0s;
}

nav ul li a:hover {
  padding-bottom: 3px;
  color: #FFF;
  border-bottom: 2px solid #FFF;
}

.blog-button:hover {
  color: #FFF;
  border: 0;
}

.right-navbar {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons a:first-child {
  margin: 0;
}

.social-icons a {
  height: 18px;
  color: #FFF;
  margin: 0 0 0 20px;
}

.social-icons img {
  height: 100%;
  width: auto;
}

.login-button {
  margin-left: 60px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  color: #7159c1;
  background-color: #FFF;
  padding: 0 30px;
  text-decoration: none;
  border-radius: 5px;
}

/* Conteúdo do site */

.section-container {
  padding: 60px 0;
}

.container-body {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto;
}

.content-body {
  width: calc(50% - 10px);
}

.content-body h2 {
  color: #4b4b4b;
  font-size: 36px;
  line-height: 48px;
}

.content-body p {
  color: #9A8EBF;
  font-size: 18px;
  line-height: 32px;
  margin: 10px 0 0;
}

.button-content {
  display: inline-block;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  background-color: #7159C1;
  margin: 15px 0 0;
  padding: 0 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.button-content:hover {
  background-color: #7F6AC8;
}

.enterprises-techs {
  background-color: #7159C1;
}

.content-enterprises-techs {
  width: 515px;
}

.content-enterprises-techs h2 {
  color: #FFF;
  font-size: 36px;
  line-height: 48px;
}

.content-enterprises-techs h3 {
  color: #DDD5F8;
  font-size: 24px;
  line-height: 52px;
}

.content-enterprises-techs p {
  color: #DDD5F8;
  line-height: 32px;
  font-size: 16px;
  margin: 10px 0 0;
}


.starter img {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.bootcamp img {
  margin-right: 30px;
}

.starter h2, .bootcamp h2 {
  display: flex;
  align-items: center;
}

.comunity {
  background-color: #F1EFFF;
}

.content-comunity {
  width: calc(50% - 10px);
}

.content-comunity h2 {
  color: #4b4b4b;
  font-size: 36px;
  line-height: 48px;
}

.content-comunity p {
  color: #9A8EBF;
  font-size: 18px;
  line-height: 32px;
  margin: 10px 0 0;
}

.partners {
  text-align: center;
  padding: 60px 0;
}

.container-partners {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto;
}

.container-partners h2 {
  color: #4b4b4b;
  font-size: 36px;
  line-height: 48px;
}

.container-partners p {
  color: #9A8EBF;
  font-size: 18px;
  line-height: 32px;
  margin: 10px 0 0;
}

.content-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.buttons-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 16px);
  height: 80px;
  line-height: 1;
  padding: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  background-color: #7159C1;
  margin: 15px 0 0;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.buttons-partners span {
  display: flex;
  align-items: center;
}

.buttons-partners span img {
  position: relative;
  top: 1.6px;
  height: 11px;
  width: auto;
  margin-left: 15px;
}

/* Footer do Site */

.newsletter {
  display: flex;
  color: #FFF;
  position: relative;
  background-color: #7159C1;
  overflow: hidden;
  padding: 10px 0;
}

.techs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.mestre-yoda {
  display: flex;
  align-items: center;
}

.newsletter form {
  margin-left: 30px;
  z-index: 2;
}

.newsletter form strong {
  font-size: 24px;
  font-weight: 600;
}

.newsletter form p {
  font-size: 15px;
  color: #FFFFFF88;
  margin-top: 5px;
}

.container-form {
  height: 48px;
  display: flex;
  align-items: center;
  background: #FFF;
  margin-top: 15px;
  border-radius: 3px;
  padding: 0 20px;
}

input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark-color(white, black);
  cursor: text;
  font: 400 11px system-ui;
}

.container-form input {
  font-size: 16px;
  color: #666666;
  flex: 1 1 0%;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0;
}

.container-form button {
  background-color: transparent;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
}

.personal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1010px;
  line-height: 1;
  font-size: 16px;
  color: #666666;
  margin: 0 auto;
  padding: 25px 10px;
}

.personal-footer strong {
  font-weight: 500;
}

.personal-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.personal-footer ul li {
  margin: 2px;
}

.personal-footer ul li a {
  color: #666666;
  text-decoration: none;
}

.personal-footer ul li a:hover {
  text-decoration: underline;
}

                      /* Fim do CSS da Página Inicial */

.header-body {
  max-width: 1070px;
  padding: 0 30px;
  margin: 0 auto;
}

.header-body h1 {
  color: #4b4b4b;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-top: 100px;
}

.header-body  h1 strong {
  color: #7159c1;
}

.header-body p {
  width: 100%;
  color: #9A8EBF;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
}

.header-body p strong {
  font-weight: bold;
}

.steps {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin: 100px 0 50px;
}

.steps span {
  position: relative;
  text-transform: uppercase;
  color: #7159C1;
  background-color: #FFF;
  z-index: 2;
  padding: 0 25px;
}

.steps::before {
  content: attr(hr);
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #F1EFFF;
  transform: translateY(-50%);
  z-index: 1;
}

.block-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-language-js {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 30px;
  text-align: center;
}

.code-language-js p {
  color: #4b4b4b;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.code-language-js img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px 0 25px;
}

.code-language-js h2 {
  color: #221941;
  font-size: 20px;
  line-height: 22px;
}

.code-language-js strong {
  color: #9A8EBF;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  font-weight: normal;
}

.code-language-js a {
  display: inline-block;
  margin-top: 30px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  padding: 0px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.code-language-js a:hover {
  background-color: #7F6AC8;
}

.code-language-js::after {
  content: attr(color);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: calc(50% + 38px);
  background-color: #F1EFFF;
  z-index: -1;
}

.arrow {
  margin: 0 80px;
}

.steps {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  margin: 100px 0 50px;
}

.dominate {
  color: #4b4b4b;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.second-step {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.second-step-2 {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 30px;
  text-align: center;
}
.second-step-2 h2 {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 26px;
}

.second-step-2 p {
  color: #9A8EBF;
  font-size: 18px;
  line-height: 32px;
  margin-top: 32px;
  padding: 0 40px;
  z-index: 1;
}

.second-step-2 img:not(:first-child) {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px 0 25px;
  z-index: 1;
}

.second-step-2 h3 {
  color: #221941;
  font-size: 20px;
  line-height: 22px;
}

.second-step-2 strong {
  color: #9A8EBF;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  font-weight: normal;
}

.second-step-2 a {
  display: inline-block;
  margin-top: 30px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  padding: 0px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.second-step-2 a:hover {
  background-color: #7F6AC8;
}

.second-step-2::after {
  content: attr(color);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: calc(50% - 32px);
  background-color: #F1EFFF;
  z-index: -1;
}




